<main class="splash-screen">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>  
<div class="app-name">
    <h1>Budget App</h1>
  </div>  
      <div class="buttons-container">
        <button class="blue-btn">
          <%= link_to 'LOG IN', "/users/sign_in", class: 'login-link' %>
        </button>
        <button class="white-btn">
          <%= link_to 'SIGN UP', "/users/sign_up", class: 'signup-link' %>
        </button>
        </div>
</main>